@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1800px)
	/**/
	.main-screen
		padding-top: 310px
	.main-screen__items
		margin-top: 58px
	.explore .explore-wrapper
		margin-left: 220px
	.explore  .slider-wrapper
		margin-left: 205px


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1700px)
	/**/
	.main-screen__item
		width: 418px
		height: 270px
	.wrapper 
		width: 1254px
	.slider_box.wrapper
		width: 1292px
		margin-top: 40px
	.main-screen__item .character-image
			transform: scale(0.9)
	.main-screen__item:first-child
		.character-image
			bottom: -43px
			right: -56px


	.main-screen__item:nth-child(2)
		.character-image
			bottom: -54px
			right: -80px
	.main-screen__item:nth-child(3)
		.character-image
			bottom: -17px
			right: -108px
	.main-screen
		padding-top: 280px

	
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px)
	/**/
	.main-screen
		padding-top: 265px
	.main-screen__soc-wrapper
		margin-top: 125px
	.main-screen__button-wrapper
		margin-top: 50px
	.explore .explore-wrapper
		margin-left: 163px
	.explore  .slider-wrapper
		margin-left: 143px
	.media
		padding-top: 100px
	.pre-register__image
		right: -70px


/* Medium Devices, Desktops */
@media only screen and (max-width : 1500px)
	/**/
	.main-screen
		padding-top: 228px
	.main-screen__soc-wrapper
		margin-top: 113px
	.main-screen__button-width
		margin-top: 45px
	.main-screen__item
		width: 376px
		height: 243px
	.main-screen__item .character-image
			transform: scale(0.8)
	.main-screen__item:first-child
		.character-image
			bottom: -59px
			right: -69px

	.main-screen__item:nth-child(2)
		.character-image
			bottom: -66px
			right: -90px
	.main-screen__item:nth-child(3)
		.character-image
			bottom: -35px
			right: -117px
	.main-screen__item-title
		font-size: 26px
	.main-screen__item-link
		font-size: 14px
	.wrapper
		max-width: 1128px
	.slider_box.wrapper
		width: 1166px
	.slider-nav
		max-width: 1000px
	.pre-register input
		width: 349px



/* Medium Devices, Desktops */
@media only screen and (max-width : 1440px)
	/**/
	.main-screen
		padding-top: 190px
	.main-screen__soc-wrapper
		margin-top: 100px
	.main-screen__button-width
		margin-top: 20px
	.main-screen__item
		width: 354px
		height: 229px
	.main-screen__item .character-image
			transform: scale(0.75)
	.main-screen__item:first-child
		.character-image
			bottom: -65px
			right: -75px

	.main-screen__item:nth-child(2)
		.character-image
			bottom: -70px
			right: -95px
	.main-screen__item:nth-child(3)
		.character-image
			bottom: -43px
			right: -120px
	.main-screen__item-title
		font-size: 24px
	.wrapper
		max-width: 1062px
	.slider_box.wrapper
		width: 1080px
	.news .items_slider
		padding: 0 10px
	.explore__item-slider-wrapper
		padding-top: 400px
	.slider-nav
		max-width: 950px
	.pre-register input
		width: 310px
	.login-popup-wrapper .logo
		margin-bottom: 20px
	.popup__tabs .tab_item
		padding-bottom: 20px
/* Medium Devices, Desktops */
@media only screen and (max-width : 1300px)
	/**/
	.main-screen
		padding-top: 180px
	.main-screen__soc-wrapper
		margin-top: 90px
	.main-screen__button-width
		margin-top: 20px
	.main-screen__items
		margin-top: 38px
	.main-screen h1
		max-width: 733px 
	h1 
		font-size: 50px
	.explore .explore-wrapper
		margin-left: 130px
	.explore  .slider-wrapper
		margin-left: 115px
	.explore__label
		max-width: 300px
		transform: translate(-30%, -75%)
	.explore__item-slider-wrapper
		padding-top: 300px


/* Medium Devices, Desktops */
@media only screen and (max-width : 1220px)
	/**/
	.main-screen
		padding-top: 170px
	.main-screen__soc-wrapper
		margin-top: 75px
	.main-screen__button-wrapper
		margin-top: 40px
	.main-screen__item .character-image
			transform: scale(0.65)
	.main-screen__item:first-child
		.character-image
			bottom: -80px
			right: -88px

	.main-screen__item:nth-child(2)
		.character-image
			bottom: -81px
			right: -105px
	.main-screen__item:nth-child(3)
		.character-image
			bottom: -59px
			right: -127px
	.main-screen__item-title
		font-size: 24px
	.main-screen__item
		width: 320px
		height: 207px
	
	// .login-register-wrapper
	// 	min-width: 121px
	.body 
		font-size: 14px
	.menu__item-drop-down:after
		top: -1px
	.header
		padding: 20px 15px
	.header__menu
		width: 33%
	.wrapper
		max-width: 960px
	.slider_box.wrapper
		width: 978px
	.items_slider__text
		font-size: 17px
	.explore__slider-link
		margin-bottom: 50px
	.slider-nav
		max-width: 800px
	.pre-register__image
		right: 0
	.pre-register input
		width: 252px
	.login-popup-wrapper
		width: 435px
	.login-popup-wrapper .logo
		margin-bottom: 15px
	.login-popup-wrapper
		padding-top: 15px
	.popup__tabs .tab_item
		padding: 20px
	.popup__tabs .tab
		width: 138px




	
/* Medium Devices, Desktops */
@media only screen and (max-width : 1120px)
	/**/
	h1
		font-size: 45px
	.main-screen h1
		max-width: 660px
	.main-screen__soc-wrapper
		margin-top: 60px
	.main-screen__items
		margin-top: 28px
	.main-screen
		padding-top: 150px
	.main-screen__item .character-image
			transform: scale(0.55)
	.main-screen__item:first-child
		.character-image
			bottom: -90px
			right: -101px

	.main-screen__item:nth-child(2)
		.character-image
			bottom: -88px
			right: -115px
	.main-screen__item:nth-child(3)
		.character-image
			bottom: -72px
			right: -135px
	.main-screen__item-title
		font-size: 24px
		max-width: 120px
	.main-screen__item
		width: 270px
		height: 180px
	.main-screen__item-title
		font-size: 20px
	.main-screen__item
		padding: 0 15px
	.wrapper
		max-width: 810px
	.slider_box.wrapper
		width: 828px
	.items_slider__text
		font-size: 14px
	.items_slider__date
		font-size: 12px
	.explore .explore-wrapper
		margin-left: 155px
	.explore  .slider-wrapper
		margin-left: 140px
	.explore__item-slider-wrapper
		padding-top: 250px
	.explore__item-slider-wrapper
		padding-left: 30px
	.explore__slider-title
		font-size: 27px
	.explore__slider-text
		font-size: 14px
	.explore__slider-link
		margin-top: 20px
	.media__footer
		justify-content: flex-start
		.link-with-arrow
			position: static
	.footer__menu a
		font-size: 14px
	.pre-register .input-wrapper
		margin-right: 10px
	.pre-register input
		width: 193px


/* Small Devices, Tablets */
@media only screen and (max-width : 992px)
	/**/
	.main-screen__items
		flex-direction: column
		align-items: center
	.main-screen__item
		width: 87%
		height: 217px
	.main-screen__item .character-image
		transform: scale(0.68)
		bottom: -74px
		right: -22px
	.main-screen__item:first-child
		//clip-path: polygon(0 0, 97% 0, 100% 3%, 100% 100%, 0 100%)
		background: url('../img/mob-bg-1.svg')
		background-repeat: no-repeat
		overflow: hidden
		background-position: 0px 15px
		.character-image
			bottom: 0
			top: -60px
			position: absolute
			overflow: hidden
	.main-screen__item:nth-child(2)
		top: -1px
		height: 202px
		.character-image
			right: -75px
			bottom: -79px
			// clip-path: polygon(0 0, 94% 0, 94% 100%, 0% 100%)
	.main-screen__item:nth-child(3)
		background: url('../img/mob-bg-3.svg')
		background-repeat: no-repeat
		background-size: cover
		background-position: bottom center
		top: -2px


		.character-image
			bottom: -53px 
			right: -102px
			z-index: 9
	.main-screen__item:first-child,
	.main-screen__item:nth-child(2),
	.main-screen__item:nth-child(3)
		background-size: cover
	.main-screen
		background-size: cover
	.main-screen__items
		background: #fff
	h1 
		font-size: 34px
	.main-screen h1
		max-width: 498px
	.main-screen__soc-wrapper
		margin-bottom: 100px
	.main-screen__items
		margin-top: 0
	.main-screen__item:first-child,
	.main-screen__item:nth-child(2),
	.main-screen__item:nth-child(3)
		top: -80px
	.main-screen__item:nth-child(2)
		top: -81px
	.main-screen__item:nth-child(3)
		top: -81px
	.header
		padding: 20px 20px
	.login-register-wrapper
		
		display: none
	.header .header__menu
		order: 1
	.logo__menu
		order: 2
	.header
		.container-fluid 
			justify-content: flex-start
	.login-register-wrapper
		display: none

	.login-register-wrapper--mobil
		position: absolute
		right: 20px
		top: 28px
		display: block
	.logo__menu
		position: absolute
		left: 50%
		top: 5px
		transform: translate(-50%)
	.header__menu ul 
		display: none
	.header__menu
		

		ul.open 
			display: flex
			background: #fff
			position: absolute
			left: 0
			width: 100%
			top: 65px
			min-height: 100vh
			z-index: 9999
			flex-direction: column
			align-items: center
			justify-content: flex-start
			a 
				color: $blue

	.header__menu--right ul.open
		top: 215px
	.header__menu--right.active ul 
		top: 315px
	.header__menu--left ul 
		padding-top: 30px

	.menu__item-drop-down
		color: $blue
	.menu__item a 
		color: $blue
		font-size: 20px
	.menu__item
		font-size: 20px
		width: 90%
	.menu__item
		margin: 5px 0

	.header__menu .login-register-wrapper	
		display: none
	.header 
		min-height: 65px
	.header__menu-button
		display: block
	.header.active
		background: $blue
		border-bottom: 1px solid #fff
	.menu__item-drop-down.active
		padding-bottom: 0


		.dropdown-menu-wrapper
			display: block
			position: static
			width: 100%
			padding-top: 0
			

		.dropdown-menu
			display: block
			background: #fff
			padding-top: 0
			border: none
		.dropdown-menu__item
			padding: 0 0
			border-bottom: 1px solid $blue
			a 
				font-size: 16px

		.dropdown-menu:after,
		.dropdown-menu:before
			display: none
	.dropdown-menu-background
		display: none
	.dropdown-menu
		box-shadow: none
		padding-bottom: 0
	.communitys-list__item
		padding-top: 5px
		a 
			font-size: 16px
	.menu__item-drop-down:after
		content: url('../img/small-down-blue.svg')
	.slider_box.wrapper
		max-width: 90%
	.wrapper 
		max-width: 90%
	.news
		padding-top: 0px
	h2 
		font-size: 35px
	.news__see-all
		margin: 60px 0
	.explore .explore-wrapper
		margin-left: 50px
	.explore  .slider-wrapper
		margin-left: 35px
	.explore__item-slider-wrapper
		padding-top: 160px
	.explore__item-slider-wrapper
		padding-left: 10px
	.explore__slider-text
		max-width: 339px
	.explore__slider-title
		font-size: 21px
		max-width: 270px
	.explore__label
		display: none
	.explore .explore-wrapper
		padding-top: 60px
	.media__play-button:before
		transform: translate(-50%, -50%) scale(0.8)
	.prev,
	.next
		transform: scale(0.7)
	.next
		right: 10px
	.prev
		right: 58px
	.prev:hover,
	.next:hover
		transform: translate(10px, 0px) scale(0.7)
	.footer__logo 
		margin-top: 34px
	.footer__logo-copy-wrapper
		align-items: center
	.footer 
		padding-top: 50px 
		padding-bottom: 50px
	.footer__menu a
		font-size: 16px
	.footer__copy
		text-align: center
	.footer__soc-wrapper
		margin-bottom: 22px
	.footer
		padding-top: 0
	.pre-register
		form 
			min-width: 460px





			



/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.main-screen__item:nth-child(3)
		
		.character-image
			bottom: -15px
			transform: scale(1)
			width: 240px
			bottom: 2px 
			right: -25px
	.main-screen__button-wrapper
		flex-direction: column
	.main-screen .pink-button
		margin-left: 0
		margin-top: 20px
	.slider_box.wrapper
		max-width: 100%
	.news .items_slider
		margin-left: -50px
	h2 
		font-size: 30px
	h2:after 
		content: url('../img/title-img-sm.svg')
		position: relative
		top: 4px
		
	.news 
		position: relative 
		top: -40px
	.news__see-all
		margin-bottom: 20px
	.explore__item-slider-wrapper
		margin-left: 15px
	.explore__slider-title
		font-size: 18px
		font-family: $exo2
		line-height: 133%
	.explore__slider-text
		font-size: 16px
		max-width: 50%
	.explore__slider-link
		margin-bottom: 30px
	.explore__item-slider-wrapper
		padding-top: 30px
	.hero-image
		max-height: 80%
		right: 0px
	.explore .explore-wrapper
		margin-left: 15px
	.explore__item-slider
		padding-top: 25px
	.media__slider .media__slider-num
		font-size: 26px
	.media__play-button:before
		transform: translate(-50%, -50%) scale(0.6)
	.slider-nav .items_slider
		margin-left: -30px
	.slider-nav--wrapper
		max-width: 100%
		padding-left: 32px
	.media
		padding-top: 40px
		padding-bottom: 55px
	.pre-register__image
		margin-top: 37px
	.pre-register
		.col-md-5
			display: flex 
			justify-content: flex-end
		.pre-register__image 
			max-width: 70%
			margin-bottom: 50px
			position: static
		.input-wrapper 
			margin-bottom: 23px
			margin-right: 0
			width: 100%
			input
				width: 100%
		.col-md-7 
			img 
				max-width: 100%
	.pre-register
		padding-bottom: 0
	.footer
		padding-bottom: 30px
	.pre-register
		form 
			min-width: 100%



/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px)
	/**/
	.footer__menu
		flex-wrap: wrap
	.footer__menu-column
		margin-top: 32px
	.footer__copy
		text-align: center
		max-width: 225px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 450px)
	/**/
	.explore__slider-text
		max-width: 58%
	.hero-image
		max-height: 51%
	.media__play-button:before
		transform: translate(-60%, -50%) scale(0.5)
	.slider-nav--wrapper
		padding-left: 15px
	.login-popup-wrapper
		width: 95%
	.popup__tabs .tab_item
		padding: 25px 10px
		padding-bottom: 5px
	.popup__footer
		margin-top: 20px
	.checkbox__text
		font-size: 12px
	.popup .checkbox__container
		margin-right: 5px
	.popup__tabs .tab_item .input-wrapper
		margin-bottom: 10px
	.popup__tabs .tab
		padding-bottom: 6px




/* Custom, iPhone Retina */
@media only screen and (max-width : 380px)
	/**/
	.main-screen__item:first-child
		background-size: 100% 105%
		.character-image
			width: 300px
			top: -23px
	.main-screen__item:nth-child(3)
		background-size: 100% 105%
		top: -96px
		.character-image
			bottom: -15px
			transform: scale(1)
			width: 190px
			bottom: 12px 
			right: -21px
		.main-screen__item-title
			max-width: 100px
	.main-screen__item:nth-child(2) .character-image
		width: 220px
		transform: scale(1)
		right: -20px
		bottom: -26px
	.news 
		top: -60px
	.news__see-all
		margin-bottom: 0

/* Custom, iPhone Retina */
@media only screen and (max-width : 370px)
	/**/
	h2 
		font-size: 29px

/* Custom, iPhone Retina */
@media only screen and (max-width : 360px)
	/**/
	.main-screen__item:nth-child(3)
		.character-image
			bottom: 14px
	h2 
		font-size: 28px
	.explore__slider-text
		font-size: 14px
		max-width: 55%
	.hero-image
		right: 0px
	.explore__slider-link
		font-size: 14px

/* Custom, iPhone Retina */
@media only screen and (max-width : 350px)
	/**/
	.main-screen__item:nth-child(3)
		.character-image
			bottom: 22px
	h2 
		font-size: 27px
/* Custom, iPhone Retina */
@media only screen and (max-width : 340px)
	/**/
	h2 
		font-size: 26px
	.footer__menu a
		font-size: 14px
/* Custom, iPhone Retina */
@media only screen and (max-width : 340px)
	/**/
	h2 
		font-size: 25px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
	.main-screen__item:nth-child(3)
		.character-image
			bottom: 25px
/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/





